@{
    ViewData["Title"] = $"{@Model.Name} Details";
}

<h1>Details for @Model.Name</h1>

<h3>Licenses: </h3>

<ul>
@foreach (EngineerLicense el in Model.EngineerLicenses)
{
    <li>@el.License.Name</li>
}
</ul>

<h3>Qualified Machines</h3>

@if (Model.Machines.Count == 0)
{
    <p>None</p>
} 
else
{
    <ul>
        @foreach (Machine machine in Model.Machines)
        {
            <li>
                <a href="/machines/details/@machine.MachineId">@machine.Make @machine.Model</a>
            </li>
        }
    </ul>
}

